
# --- Application -
APP_NAME=Mon API Sécurisée
API_V1_PREFIX=/api/v1

# --- Logs --------
DEBUG=true
LOG_LEVEL=DEBUG

# --- Security ----
SECRET_KEY=super-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256

# --- Data Base ---
DATABASE_URL=sqlite:///solution/fast_api/solu_exercice_security/app/data/app_babyfoot.db
DATABASE_PATH=solution/fast_api/solu_exercice_security/app/data